/* Styles for the 'forgot-password' section */

/* Display login image as a flex container */
.forgot-password .login-image {
    display: flex;

  }
  
  /* Style for the login image inside the 'forgot-password' section */
  .forgot-password .login-image img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  
  /* Styles for the login form within the 'forgot-password' section */
  .forgot-password .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 20px 10px;
  }

  /* Styles for the form inside the 'forgot-password' section */
  .forgot-password form {
    padding : 50px 10px;
  }
  
  /* Adjust width for the login form in the 'login' section */
  .login form {
    width: 100%;
  }

  /* Styles for the input fields within the 'forgot-password' section */
  .forgot-password input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-top:40px;
    background-color: #F5F1ED;
    width : 80%;
}

/* Placeholder styles for input fields in the 'forgot-password' section */
.forgot-password input::placeholder {
    color:#E0B51D;
}

/* Styles for the card within the 'forgot-password' section */
.forgot-password .card-style {
    margin-top: 40px;
    background-color: #F5F1ED;
    width : 90%;
    height : 60%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}

/* Styles for the 'join-panda' class within the 'forgot-password' section */
.forgot-password .join-panda {
    margin-top: 20px auto;
    padding : 20px 50px;
    display: block;
    margin-top: 20px;
    width :50%;
    border-radius: 50px;
    background-color: #F5F1ED;
    border : 1px solid black;
}

/* Styles for the 'create' class within the 'forgot-password' section */
.forgot-password .create {
    font-size: 20px;
}

/* Styles for the 'minutes' class within the 'forgot-password' section */
.forgot-password .minutes{
    color: #A95454;
}

/* Styles for the 'disclaimer' class within the 'forgot-password' section */
.forgot-password .disclaimer {
    margin-top: 20px;
    color: #ACB5BD;
}

/* Styles for the 'tabs' class within the 'forgot-password' section */
.forgot-password .tabs{
  display: flex;
}

/* Styles for the 'tabs' class paragraphs within the 'forgot-password' section */
.forgot-password .tabs p {
  padding-left: 10px;
}

/* Styles for the 'login-checkbox' class within the 'forgot-password' section */
.forgot-password .login-checkbox {
 display: flex;
}

/* Styles for the paragraphs within the 'login-checkbox' class in the 'forgot-password' section */
.forgot-password .login-checkbox p{
  text-align: right !important;
}

/* Display inline block for input type 'text' within the 'forgot-password' section */
.forgot-password input[type="text"] {
  display: inline-block;
}
