.reset-password .login-image {
    display: flex;

  }
  
  .reset-password .login-image img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  
  .reset-password .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 20px 10px;
  }

  .reset-password form {
    padding : 50px 10px;
  }
  
  .login form {
    width: 100%;
  }

  .reset-password input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-top:40px;
    background-color: #F5F1ED;
    width : 80%;
}

.reset-password input::placeholder {
    color:#E0B51D;
}

.reset-password .card-style {
    margin-top: 40px;
    background-color: #F5F1ED;
    width : 90%;
    height : 60%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}

.reset-password .join-panda {
    margin-top: 20px auto;
    padding : 20px 50px;
    display: block;
    margin-top: 20px;
    width :50%;
    border-radius: 50px;
    background-color: #F5F1ED;
    border : 1px solid black;
}

.reset-password .create {
    font-size: 20px;
}

.reset-password .minutes{
    color: #A95454;
}

.reset-password .disclaimer {
    margin-top: 20px;
    color: #ACB5BD;
}

.reset-password .tabs{
  display: flex;
}

.reset-password .tabs p {
  padding-left: 10px;
}

.reset-password .login-checkbox {
 display: flex;
}

.reset-password .login-checkbox p{
  text-align: right !important;
}
  
.reset-password input[type="text"] {
  display: inline-block;
}
